*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background-color: #bfd7ea;
}

li, a, button {
    text-decoration: none; 
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.nav-links{
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color : #0a8754;
}

button {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: rgba(10,135,84,1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(10,135,84,0.5);
}
