{% extends 'polls/base.html' %}
{% block content %}

<div class="text-center">
    <h2>QUIZ</h2>
</div>
    <form class="mx-3" method="post" action="#">
	{% csrf_token %}
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% if latest_question_list %}
	<ul>
	    {% for question in latest_question_list %}
	    <li>{{ question.question_text }}</li>
		<ul>
		{% for answear in answear_list %}
		    {% if answear.question_id == question.id %}
			<div class="mb-3 form-check">
			    <input type="checkbox" class="form-check-input" value="clicked" name="c{{ answear.id }}">{{answear.choice_text}}
			    {% comment %} <label class="form-check-label" for="c{{ answear.id }}">{{answear.choice_text}}</label> {% endcomment %}
			</div>
		    {% endif %}
		{% endfor %}
		</ul>
	    {% endfor %}
	</ul>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
	<div class="text-center " style="padding: 50px 0;">
	    <button type="sumbit"  name="save" value="save">Sumbit</button>
	</div>
    </form>
{% endblock content %}

